* {
    font-family: 'Gulzar', serif;
}

html {
    background-color: #1c1c1c;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #353535;
    max-width: 90%;
    min-width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
}

.directory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
}

#home-btn {
    background-color: #5F5F5F;
    border: none;
    color: white;
    width: 300px;
    height: 100px;
    font-size: 35px;
    text-align: center;
    line-height: 40px;
}

.userbtns {
    background-color: #1c1c1c;
    border: none;
    color: white;
    width: 80px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
    
}

.navbar {
    overflow: hidden;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
  }
  

  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
  }
  

  .dropdown {
    float: left;
    overflow: hidden;
  }
  

  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0; 
    
  }
  

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(108, 143, 233);    
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 144px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 176px;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {
    background-color: #d9d9d9;
  }
  
 
  .dropdown:hover .dropdown-content {
    display: block;
  }


.black-top-divider {
    background-color: #1c1c1c;
    margin-top: 10px;
    height: 40px;
    border: none;
    padding-top: -10px;
}


.collection-info {
    font-size: large;
    text-align: center;
    padding-top: -15px;
    background-color: #b3b3b3;
    padding-bottom: 30px;
    margin-top: 27px;
}

.collection-text {

    border-top: rgb(108, 143, 233) solid 50px;
    
    background-color: #d9d9d9;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 65px;
    
    padding-top: -15px;
    position: relative;
    top: 15px;
    
}

#collection-box {
    height: 5px;
    background-color: #1c1c1c;
    border: none;
    margin-left: -65px;
    margin-right: -65px;
    position: relative;
    top: -75px;
    
}

#welcome-text {
    position: relative;
    top: -105px;
    
}

.collection-bottom {
    background-color: #b3b3b3;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px; 
}

.add-realm-btn {
    background-color: rgb(108, 143, 233);
    border: none;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 55px;
}




#contact-me {
    background-color: #d9d9d9;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 310px;
    border-top:rgb(108, 143, 233) solid 30px;
}

#contact-title {
    position: relative;
    top: -65px;
}

#contact-email {
    position: relative;
    top: -95px;
}

#contact-line {
    height: 3px;
    background-color: #1c1c1c;
    border: none;
    width: 310px;
    position: relative;
    top: -8px;
}

#collection-btn {
    background-color: #5F5F5F;
    border: none;
    color: white;
    min-width: 60%;
    max-width: 80%;
    height: 100px;
    font-size: 35px;
    text-align: center;
}










.background-box {
    font-size: large;
    text-align: center;
    padding-top: 5px;
    background-color: #b3b3b3;
    margin-top: 27px;
    border: none;
    min-height: 575px;
    max-height: fit-content;
}

.news-box {
    font-size: large;
    text-align: center;
    
    background-color: #d9d9d9;
    padding-bottom: 10px;
    margin-top: 27px;
    border-top:rgb(108, 143, 233) solid 40px;
    width: 400px;
    height: 500px;
    max-width: 40%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    margin-left: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.news-title {
    position: relative;
    top: -43px;
    text-align: center;
    font-size: larger;
}

.news-black-line {
    height: 3px;
    background-color: #1c1c1c;
    border: none;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0px;
z-index: 1;
}

.news-text {
    position: absolute;
    top: 0px;
    text-align: left;
    font-size: medium;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    overflow-y: scroll;
    height: 490px;
}










.get-started {
    text-align: center;
    font-size: larger;
    position: relative;
    top: -50px;
    line-height: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.work-in-prog {
    text-align: center;
    font-size: larger;
    position: relative;
    top: 0px;
    line-height: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

#landing-box {
    height: 5px;
    background-color: #1c1c1c;
    border: none;
    margin-left: -65px;
    margin-right: -65px;
    position: relative;
    top: -75px;
}

#welcome-text {
    position: relative;
    top: -160px;
    
}

#appDesc {
    position: relative;
    top: -110px;
    font-size: larger;
    line-height: 30px;
    margin-left: 200px;
    margin-right: 200px;
}
.landing-info {
    font-size: large;
    text-align: center;
    padding-top: -15px;
    background-color: #b3b3b3;
    padding-bottom: 10px;
}

.landing-text {

    border-top: rgb(0, 71, 255, .49) solid 50px;
    
    background-color: #d9d9d9;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 65px;
    
    padding-top: -15px;
    position: relative;
    top: 15px;
    
}