/* Styling for the collections page */

* {
    font-family: 'Gulzar', serif;
}

html {
    background-color: #1c1c1c;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #353535;
    max-width: 90%;
    min-width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
}

.directory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home-btn {
    background-color: #5F5F5F;
    border: none;
    color: white;
    width: 350px;
    height: 100px;
    font-size: 35px;
    text-align: center;
}

.userbtns {
    background-color: #5F5F5F;
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}



#black-top-divider {
    background-color: #1c1c1c;
    height: 10px;
    border: none;
}


.collection-info {
    font-size: large;
    text-align: center;
    padding-top: -15px;
    background-color: #b3b3b3;
    padding-bottom: 30px;
}

.collection-text {

    border-top: rgb(0, 71, 255, .49) solid 50px;
    
    background-color: #d9d9d9;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    
    padding-top: -15px;
    position: relative;
    top: 15px;
    
}

#collection-box {
    height: 5px;
    background-color: #1c1c1c;
    border: none;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    top: -24px;
}

#welcome-text {
    position: relative;
    top: -105px;
    
}

.collection-bottom {
    background-color: #b3b3b3;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: flex-end;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
}

#contact-me {
    background-color: #d9d9d9;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 380px;
    border-top:rgb(0, 71, 255, .49) solid 30px;
}

#contact-title {
    position: relative;
    top: -65px;
}

#contact-email {
    position: relative;
    top: -90px;
}

#contact-line {
    height: 3px;
    background-color: #1c1c1c;
    border: none;
    width: 380px;
    position: relative;
    top: -8px;
}