* {
    font-family: 'Gulzar', serif;
}

html {
    background-color: #1c1c1c;
    
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #353535;
    max-width: 10000px;
    min-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
}

.directory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
}

#home-btn {
    background-color: #5F5F5F;
    border: none;
    color: #f9f9f9;
    width: 300px;
    height: 100px;
    font-size: 35px;
    text-align: center;
    line-height: 40px;
}

.userbtns {
    background-color: #1c1c1c;
    border: none;
    color: #f9f9f9;
    width: 80px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
    
}

.navbar {
    overflow: hidden;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
  }
  

  .navbar a {
    float: left;
    font-size: 20px;
    color: #f9f9f9;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
  }
  

  .dropdown {
    float: left;
    overflow: hidden;
  }
  

  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #f9f9f9;
    background-color: inherit;
    margin: 0; 
    
  }
  

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(108, 143, 233);    
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 144px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 176px;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {
    background-color: #d9d9d9;
  }
  
 
  .dropdown:hover .dropdown-content {
    display: block;
  }


.black-top-divider {
    background-color: #1c1c1c;
    margin-top: 10px;
    height: 40px;
    border: none;
    padding-top: -10px;
}


.collection-info {
    font-size: large;
    text-align: center;
    padding-top: -15px;
    background-color: #b3b3b3;
    padding-bottom: 30px;
    margin-top: 27px;
}

.collection-text {

    border-top: rgb(108, 143, 233) solid 50px;
    
    background-color: #d9d9d9;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 65px;
    
    padding-top: -15px;
    position: relative;
    top: 15px;
    
}

#collection-box {
    height: 5px;
    background-color: #1c1c1c;
    border: none;
    margin-left: -65px;
    margin-right: -65px;
    position: relative;
    top: -75px;
    
}

#welcome-text {
    position: relative;
    top: -105px;
    
}

.collection-bottom {
    background-color: #b3b3b3;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px; 
}

.add-realm-btn {
    background-color: #1c1c1c;
    border: none;
    color:#f9f9f9;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 55px;
}

.add-realm-btn:hover {
    background-color: rgb(108, 143, 233);
}




#contact-me {
    background-color: #d9d9d9;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 310px;
    border-top:rgb(108, 143, 233) solid 30px;
}

#contact-title {
    position: relative;
    top: -65px;
}

#contact-email {
    position: relative;
    top: -95px;
}

#contact-line {
    height: 3px;
    background-color: #1c1c1c;
    border: none;
    width: 310px;
    position: relative;
    top: -8px;
}

#collection-btn {
    background-color: #5F5F5F;
    border: none;
    color: #f9f9f9;
    min-width: 60%;
    max-width: 80%;
    height: 100px;
    font-size: 35px;
    text-align: center;
}










.background-box {
    font-size: large;
    text-align: center;
    padding-top: 5px;
    background-color: #b3b3b3;
    margin-top: 27px;
    border: none;
    min-height: 575px;
    max-height: fit-content;
}

.news-box {
    font-size: large;
    text-align: center;
    
    background-color: #d9d9d9;
    padding-bottom: 10px;
    margin-top: 27px;
    border-top:rgb(108, 143, 233) solid 40px;
    width: 400px;
    height: 500px;
    max-width: 40%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    margin-left: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.news-title {
    position: relative;
    top: -43px;
    text-align: center;
    font-size: larger;
}

.news-black-line {
    height: 3px;
    background-color: #1c1c1c;
    border: none;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0px;
    z-index: 1;
}

.news-text {
    position: absolute;
    top: 0px;
    text-align: left;
    font-size: medium;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    overflow-y: scroll;
    height: 490px;
}










.get-started {
    text-align: center;
    font-size: larger;
    position: relative;
    top: -50px;
    line-height: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.work-in-prog {
    text-align: center;
    font-size: larger;
    position: relative;
    top: 0px;
    line-height: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

#landing-box {
    height: 5px;
    background-color: #1c1c1c;
    border: none;
    margin-left: -65px;
    margin-right: -65px;
    position: relative;
    top: -75px;
}

#welcome-text {
    position: relative;
    top: -160px;
    
}

#appDesc {
    position: relative;
    top: -110px;
    font-size: larger;
    line-height: 30px;
    margin-left: 200px;
    margin-right: 200px;
}
.landing-info {
    font-size: large;
    text-align: center;
    padding-top: -15px;
    background-color: #b3b3b3;
    padding-bottom: 10px;
}

.landing-text {

    border-top: rgb(0, 71, 255, .49) solid 50px;
    
    background-color: #d9d9d9;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 65px;
    
    padding-top: -15px;
    position: relative;
    top: -5px;
    
}







.randomizeBtn {
    background-color: #1c1c1c;
    border: none;
    color:#f9f9f9;
    width: 100px;
    height: 41.5px;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 1px;
}

.randomizeBtn:hover {
    background-color: rgb(108, 143, 233);
}

#realm {
    border: none;
    height: 39px;
}

#realm-notes {
    border: none;
    min-height: 210px;
    max-height: 210px;
    max-width: 600px;
    min-width: 600px;
    line-height: normal;
    font-size: small;
    scrollbar-color: #1c1c1c;
}

.saveBtn {
    background-color: #1c1c1c;
    border: none;
    color:#f9f9f9;
    width: 100px;
    height: 42px;
    font-size: 15px;
    text-align: center;
}

.saveBtn:hover {
    background-color: rgb(108, 143, 233);
}


.black-top-divider {
    background-color: #1c1c1c;
    margin-top: 10px;
    height: 40px;
    border: none;
    padding-top: -10px;
}

.background-box-realm {
    font-size: large;
    text-align: center;
    padding-top: 5px;
    background-color: #b3b3b3;
    margin-top: 27px;
    border: none;
    min-height: 575px;
    max-height: fit-content;
}

.realm-info {
    font-size: large;
    text-align: center;
    padding-top: -15px;
    background-color: #b3b3b3;
    padding-bottom: 60px;
    margin-top: 27px;
    margin-bottom: 60px;
    height: 20px;
}

.realm-text {

    border-top: rgb(108, 143, 233) solid 50px;
    
    background-color: #d9d9d9;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 65px;
    max-width: 600px;
    padding-top: -15px;
    position: relative;
    top: 15px;
    
}

#realm-box {
    height: 5px;
    background-color: #1c1c1c;
    border: none;
    margin-left: -65px;
    margin-right: -65px;
    position: relative;
    top: -75px;
    
}



.realm-list {
    background-color: #f9f9f9;
    border: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -100px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    justify-content: end;
}

.realm-card {
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: -100px;
    text-align: center;
    align-items: flex-start;
}

.view-realm-button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #1c1c1c;
    color: #f9f9f9;
}

.view-realm-button:hover {
    background-color: rgb(108, 143, 233);
} 

.add-region-button  {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #1c1c1c;
    color: #f9f9f9;
}

.add-region-button:hover {
    background-color: rgb(108, 143, 233);
} 


.add-town-button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #1c1c1c;
    color: #f9f9f9;
}

.add-town-button:hover {
    background-color: rgb(108, 143, 233);
} 



#region {
    border: none;
    height: 39px;
}

#region-notes {
    border: none;
    min-height: 210px;
    max-height: 210px;
    max-width: 600px;
    min-width: 600px;
    line-height: normal;
    font-size: small;
    scrollbar-color: #1c1c1c;
}

.background-box-region {
    font-size: large;
    text-align: center;
    padding-top: 5px;
    background-color: #b3b3b3;
    margin-top: 27px;
    border: none;
    min-height: 575px;
    max-height: fit-content;
}

.region-info {
    font-size: large;
    text-align: center;
    padding-top: -15px;
    background-color: #b3b3b3;
    padding-bottom: 60px;
    margin-top: 27px;
    margin-bottom: 60px;
    height: 20px;
}

.region-text {

    border-top: rgb(108, 143, 233) solid 50px;
    
    background-color: #d9d9d9;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 65px;
    max-width: 600px;
    padding-top: -15px;
    position: relative;
    top: 15px;
    
}

#region-box {
    height: 5px;
    background-color: #1c1c1c;
    border: none;
    margin-left: -65px;
    margin-right: -65px;
    position: relative;
    top: -75px;
    
}

#town {
    border: none;
    height: 39px;
}

#town-notes {
    border: none;
    min-height: 210px;
    max-height: 210px;
    max-width: 600px;
    min-width: 600px;
    line-height: normal;
    font-size: small;
    scrollbar-color: #1c1c1c;
}

.background-box-town {
    font-size: large;
    text-align: center;
    padding-top: 5px;
    background-color: #b3b3b3;
    margin-top: 27px;
    border: none;
    min-height: 650px;
    max-height: fit-content;
}

.town-info {
    font-size: large;
    text-align: center;
    padding-top: -15px;
    background-color: #b3b3b3;
    padding-bottom: 60px;
    margin-top: 27px;
    margin-bottom: 60px;
    height: 20px;
}

.town-text {

    border-top: rgb(108, 143, 233) solid 50px;
    
    background-color: #d9d9d9;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 65px;
    max-width: 600px;
    padding-top: -15px;
    position: relative;
    top: 15px;
    
}

#town-box {
    height: 5px;
    background-color: #1c1c1c;
    border: none;
    margin-left: -65px;
    margin-right: -65px;
    position: relative;
    top: -75px;
    
}



.selector-box {
    font-size: large;
    text-align: center;
    padding-top: 5px;
    background-color: #b3b3b3;
    margin-top: 27px;
    border: none;
    min-height: 575px;
    max-height: fit-content;
    margin-left: 0px;
    width: 40%;
    float: left;
}

#select-box-line{
    height: 6px;
    width: 95%;
    border: none;
    background-color: #1c1c1c;
    color: #1c1c1c;
    position: relative;
    top: 105px;
    z-index: 1;
}

#region-select {
    border-left:rgb(108, 143, 233) solid 10px;
    height: 50px;
    width: 45%;
    margin-left: -220px;
    right: -40px;
}

#region-select-town {
    border: none;
    height: 50px;
    width: 269px;
    align-items: center;
    right: -40px;
}

#town-select {
    border-right:rgb(108, 143, 233) solid 10px;
    height: 50px;
    width: 45%;
    margin-right: -300px;
    position: relative;
    top: -50px;
    left: -40px;
    
}

#npc-create-btn {
    width: 95%;
    height: 55px;
    border: none;
    background-color: #1c1c1c;
    margin-left:auto;
    margin-right:auto;
    color: #f9f9f9;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    top: -15px
}

#npc-create-btn:hover {
    
    background-color: rgb(108, 143, 233);
}

#npc-selector {
    width: 95%;
    height: 400px;
    border-top: rgb(108, 143, 233) solid 20px;
    background-color: #f9f9f9;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;

    position: relative;
    top: -30px;

}






.display-box {
    background-color: #b3b3b3;
    margin-top: 27px;
    border: none;
    height: 615px;
    margin-right: 0px;
    width: 55%;
    float: left;
    margin-left: 5%;
    
}





#npc {
    border: none;
    height: 39px;
}

.npc-name {
    float: center;
    position : relative;
    top: -70px;
}

#npc-notes {
    border: none;
    min-height: 210px;
    max-height: 210px;
    max-width: 600px;
    min-width: 600px;
    line-height: normal;
    font-size: small;
    scrollbar-color: #1c1c1c;
}

.background-box-npc {
    font-size: large;
    text-align: center;
    padding-top: 5px;
    background-color: #b3b3b3;
    margin-top: 27px;
    border: none;
    min-height: 720px;
    max-height: fit-content;
}

.npc-info {
    font-size: large;
    text-align: center;
    padding-top: -15px;
    background-color: #b3b3b3;
    padding-bottom: 60px;
    margin-top: 27px;
    margin-bottom: 60px;
    height: 20px;
}

.npc-text {

    border-top: rgb(108, 143, 233) solid 50px;
    
    background-color: #d9d9d9;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 65px;
    max-width: 600px;
    padding-top: -15px;
    position: relative;
    top: 10px;
    height: 500px;
    z-index: 0;
    padding-bottom: -20px;
}

#npc-box {
    height: 5px;
    background-color: #1c1c1c;
    border: none;
    margin-left: -65px;
    margin-right: -65px;
    position: relative;
    top: -75px;
    
}




.npcStatsList {
    border: none;
    float: right;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 50px;
    width: 175px;
    margin-bottom: 10px;
    margin-left: 30px;
    position: relative;
    top: -20px;
    margin-right: -10px;
}

.add-stats-container {
    display: flex;
    flex-direction: column;
    float:left;
}

.npcRaGeOc {
    border: none;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: -20px;
    
}

#npc-race {
    width: 200px;
    height: 52px;
    border: none;
    margin-bottom: 10px;
}

#npc-gender {
    width: 200px;
    height: 52px;
    border: none;
    margin-bottom: 10px;

}

#npc-occupation {
    width: 200px;
    height: 52px;
    border: none;
    margin-bottom: 10px;

}


#npc-name-randomize {
    position: relative;
    top: -70px;
    border: none;
    width: 335px;

}


#generate-npc {
    width: 150px;
    height: 52px;
    border: none;
    position: relative;
    top: 150px;
    margin-bottom: -50px;
    z-index: 3;
}


.npc-name {
    float: center;
    position : relative;
    top: -70px;
    font-size: medium;
    font-display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#npc-list {
    border: none;
    overflow-y: auto;
    width: 418px;
    position: absolute;
    top: 5px;
    height: 400px;
    line-height: normal;
    font-size: small;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
    overflow-y: scroll;
}

.npcCard {
    width: 95%;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 36px;
    border: none;
    background-color: #b3b3b3;
    z-index: 1;
    text-align: start;
    text-indent: 10px;
}

.view-btn {
    height: 20px;
    width: 50px;
    border: none;
    background-color: #1c1c1c;
    color: #f9f9f9;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    float: right;
}

.view-btn:hover {
    background-color: rgb(108, 143, 233);
    
}


.npcDetails {
    border: none;
    background-color: #f9f9f9;
    border-top: rgb(108, 143, 233) solid 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    height: 520px;
    font-size: larger;
}

#display-black-line {
    border: none;
    height: 5px;
    background-color: #1c1c1c;
    border: none;
    position: relative;
    top: -22px;
    
}

.npc-display-stats {
    position: absolute;
    top: 306px;
    line-height: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

h1 {
    position: absolute;
    top: 157px;
    float: left;
    margin-left: 10px;
    
}

h3 {
    position: absolute;
    top: 214px;
    float: left;
    margin-left: 10px;
}
